/*=========STYLES ============*/
.title {
  color: #00d595;
}
.raya {
  height: 5px;
  background-color: #141414;
  width: 25%;
}
.text-active {
  color: #00d595;
}
.text-custom:hover {
  color: #00d595;
}
.image {
  width: 380px;
}
.hover-svg path {
  transition: all 300ms ease;
}
.hover-svg:hover path {
  stroke: #00d595;
  transition: all 300ms ease-out;
}
.hover-svg-two:hover path {
  fill: #00d595;
  transition: all 300ms ease-out;
}
.bg-color-green {
  background-color: #00ae7a;
}
.bg-border-green {
  border-color: #00d595;
}
.box-tech {
  width: 180px;
  height: 100px;
}
.max-wd {
  max-width: 1080px;
}
.text-pagrahp {
  color: #3a3a3a;
  text-align: center;
}
