/*=========STYLES ============*/
.title {
  color: #00d595;
}
.paragraph {
  color: #00a976;
}
.raya {
  height: 5px;
  background-color: #141414;
  width: 25%;
}
.text-active {
  color: #00d595;
}
.text-custom:hover {
  color: #00d595;
}
.image {
  width: 380px;
}
.image-logo {
  width: 46px;
  height: 37px;
}
.hover-svg path {
  transition: all 300ms ease;
}
.hover-svg:hover path {
  stroke: #00d595;
  transition: all 300ms ease-out;
}
.hover-svg-two:hover path {
  fill: #00d595;
  transition: all 300ms ease-out;
}
.bg-color-green {
  background-color: #00ae7a;
}
.bg-border-green {
  border-color: #00d595;
}
.box-tech {
  width: 180px;
  height: 100px;
}
.max-wd {
  max-width: 1080px;
}
.text-pagrahp {
  color: #3a3a3a;
  text-align: center;
}
.box-project {
  width: 340px;
  height: 500px;
}
.box-titleDev {
  border: 1px solid #00a976;
}
.image-project {
  width: auto;
  height: auto;
}
.bg-project {
  background: #f7f8f8;
}
.btn-tooltip {
  width: 90px;
  background: #00a976;
  text-align: center;
}
.relative:hover .absolute {
  opacity: 1;
  z-index: 10;
}
